.page-title-action{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-shadow: none;
    top: -3px;
    margin-left: 4px;
    border: 1px solid #2271b1;
    border-radius: 3px;
    background: #f6f7f7;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.15384615;
    color: #2271b1;
    padding: 0 10px;
    min-height: 30px;
    -webkit-appearance: none;
}

.wp-heading-inline{
    display: inline-block;
    margin-right: 5px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 10px;
}